h1 {
	color: blue;
	text-align: center;
}
h3 {
	color: blue;
}
h6 {
	color: gray;
}
.tables {
	background-color: teal;
	width: 300px;
	height: 150px;
	text-align: center;
	margin: 30px;
	padding: 20px;
	font-family: Iosevka Term Slab, sans-serif;
	font-weight: bold;
	border: 3px solid blue;
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 2px;
}
th {
	background-color: gray;
}

.contents {
	color: white;
	background-color: black;
}
